.page-header
  %h2 Strike

%dl.dl-horizontal
  %dt Patron:
  %dd= @strike.patron.user_name
  %dt Distributor:
  %dd= @strike.distributor.user_name
  %dt Message:
  %dd= @strike.message
  %dt Recieved On:
  %dd= @strike.created_at.strftime('%B %d, %Y')
