.text-center
  %h3 Add book by ISBN
%br
= form_tag('/books') do |f|
  %input#isbn-add.form-control{ type: 'text', placeholder: 'ISBN', name: 'isbn'}
  %br
  %input#isbn-librarian.form-control{ type: 'password', placeholder: 'Librarian', name: 'librarian_barcode'}
  %input#isbn-submit.btn.btn-primary{ type: 'submit', name: 'commit', value: 'Save', style: "visibility: hidden;"}
