%h4 Reservation Details

%p
  %b User:
  = @reservation.user.user_name
%p
  %b Book:
  = @reservation.book.title
%p
  %b Reserved at:
  = @reservation.reserve_at.strftime("%m/%d/%Y")
%p
  %b Fuffiled:
  = @reservation.fuffiled
/ %p
/   %b Expires at:
/   = @reservation.expires_at