!!! 5
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %p
      = "Hi #{@user.user_name},"
      %br
      Due to the number of strikes you have acquired, you have been banned from
      Alexandria. While banned, you cannot checkout or reserve books. This ban will
      last indefinitely but may be removed at the discretion of our Librarians.
      %br
      \- The Society of Software Engineers