= "Hi #{@user.user_name},"
\
Due to the number of strikes you have acquired, you have been banned from
Alexandria. While banned, you cannot checkout or reserve books. This ban will
last indefinitely but may be removed at the discretion of our Librarians.
\
\- The Society of Software Engineers