%h1 Welcome to Alexandria
%hr
%h3 Featured books

.row
	- @books.each do |book|
		.span4
			.text-center
				%h4
					=link_to book.title, book
				%i
					%h5= book.subtitle

.row
	- @books.each do |book|
		.span4
			.text-center
				%br
				%img{src: book.google_book.covers[:small], class: "img-polaroid"}

.row
	- @books.each do |book|
		.span4
			%br
			%p= truncate(book.google_book.description, length: 500)

%hr

%footer.pull-right
	%small
		The library for the 
		%a{href: "https://sse.se.rit.edu"}
			Society of Software Engineers