%h1 Welcome to Alexandria
%hr
.row
	.col-md-6
		= link_to 'Checkout', new_checkout_path, class: 'btn-block btn btn-primary big-btn'
	.col-md-6
		= link_to 'Checkin', '#', class: 'btn-block btn btn-primary big-btn'
%br
%hr
%footer.pull-right
	%small
		The library for the
		%a{href: "https://sse.se.rit.edu"}
			Society of Software Engineers
