{{! If the item is actually a book }}
{{#unless item.more}}
{{#unless item.none}}
<div class="row">
  <div class="col-md-4">
    {{#if item.google_book.img_thumbnail}}
      <img src="{{item.google_book.img_thumbnail}}" class="master-search-thumbnail"/>
    {{/if}}
    {{#unless item.google_book.img_thumbnail}}
      <img class="blank-thumbnail-small"/>
    {{/unless}}
  </div>

  <div class="col-md-8">
    <div>
      {{item.title}}
    </div>

    <div>
      <ul class="commas">
        {{#each item.authors}}
          <li><small><em>
            {{this.full_name}}
          </em></small></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{/unless}}
{{/unless}}

{{! If this is the "More results" placeholder}}
{{#if item.more}}
  <div class="more-results">
    See more...
  </div>
{{/if}}

{{! If there are no results }}
{{#if item.none}}
  No results found
{{/if}}
