/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 *= require chosen
 *= require font-awesome
 */

@import "compass/css3/transition";

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.logo{
	position:relative;
	top:-3px;
}

ul.commas{
	margin:0;
	padding:0;
	display:inline;
	list-style: none;

	li{
		display: inline;
	}

	li:after{
		content: "-";
	}

	li:last-child:after{
		content: "";
	}
}

.more-results{
	text-align: center;
	border-top: solid 1px grey;
	padding-top: 5px
}

#master-search{
	width:200px;

	@include transition-delay(0s);
	@include transition-duration(0.15s);
	@include transition-property(all);
	@include transition-timing-function(ease-in);

	outline:none;

	@media (min-width: 767px) 
	{
		&:focus{
			width:450px;
		}
	}

	@media (min-width: 768px) and (max-width: 979px){
		&:focus{
			width:300px;
		}	
	}
}

.navbar-search .typeahead{
	width:500px;
}

.typeahead li{
	overflow: hidden
}

.master-search-thumbnail{
	height:50px;
	border-style:solid;
	border-color:black;
	border-width:1px;
}

.title{
	h1{
		margin-bottom: 0px
	}
	h2,h3,h4,h5,h6 {
		margin-top:2px;
		margin-left: 5px;
	}
}

.book-block{
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;

	margin: 10px 0;
	padding: 10px;

	h1,h2,h3,h4,h5,h6{
		margin:0;
	}
}

.blank-thumbnail{
	background-color: #ddd;
	width:60px;
	height:80px;
	display:block;

	border: 1px solid #bbb;
}

.blank-thumbnail-small{
	width:42px;
	height:52px;
	border: 1px solid black;
	background-color: #ddd;
}

.blank-thumbnail-large{
	height:250px;
	width:200px;
	border: 1px solid black;
	background-color: #ddd;
}

.blank-thumbnail-medium{
	height:187.5px;
	width:150px;
	border: 1px solid black;
	background-color: #ddd;
	display:block;
}

.book-actions{
	margin-top:10px;
}

.btn-form{
	margin:0;
	display: inline;
}

#isbn-add{
	width:99%;
	font-size:25px;
	height:50px;
	line-height:1;
	text-align:center;
}

.big-btn{
	height: 150px;
	padding-top: 56px !important;
	border-radius: 10px !important;
	border:none !important;
	font-size: 30px !important;
}
.center{
	display: block;
	margin: 0 auto;
}
