<!DOCTYPE html>
%html
  %head
    %title
      Alexandria
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ href: "#" }
            =image_tag("logo.png", class: "logo", alt: "Alexandria logo")
            Alexandria
    .container      
      = yield